test.main
cbuild.mpi
cbuild.nompi
*.i
slurm*err
slurm*out
mpi.simple.demo
test.bmain
mpi.demo.builder
demo.builder
test.builder
a.out
out.file.log
test.encode
test.json
typescript
test.outputs
x.c
x.cpp
x.cxx
x.sh
y.c
y.cxx

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
